html
  box-sizing border-box
  overflow hidden

html, body
  height 100%

body
  margin 5px

.calculator
  border 1px solid #34495e
  height 500px
  min-height 300px
  width 350px
  min-width 250px
  display flex
  flex-direction column

.expression, .result
  border none
  resize none
  padding 10px
  letter-spacing 2px
  text-align right

.expression
  font-size 40px
  color #2c3e50

.result
  font-size 30px
  color #95a5a6

.keyboard
  height 100%
  display flex

.keyboard .left
  display flex
  flex-wrap wrap
  flex-basis 75%

.keyboard .right
  display flex
  flex-direction column
  flex-basis 25%

.key
  border none
  background #34495e
  color white
  font-size 30px
  flex 1 1 33.333%
  order 99

.right .key
  background #95a5a6

.key7
  order 1

.key8
  order 2

.key9
  order 3

.key4
  order 4

.key5
  order 5

.key6
  order 6

.key1
  order 7

.key2
  order 8

.key3
  order 9

.key-point
  order 10

.key0
  order 11

.key-equals
  order 12

@media screen and (max-width 480px)
  .calculator
    width 100%

  .expression
    font-size 25px

  .result
    font-size 20px

  .key
    font-size 20px

@media screen and (max-height 500px)
  .calculator
    height calc(100% - 10px)

  .expression
    font-size 25px

  .result
    font-size 20px

  .key
    font-size 20px
