<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Calculator</title>
  <link rel="stylesheet" href="build/style.css">
</head>
<body>

  <div id="calc">

    <input type="text" class="expression" readonly autofocus v-model="expression">
    <input type="text" class="result" readonly v-model="result">

    <div class="keyboard">

      <div class="left">
        <!-- Repeat from 0 to 9 -->
        <input type="button" :class="'key' + key + ' key'" :value="key" @click="addEntry(key)"
          v-for="key in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">

        <input type="button" class="key key-point" value="." @click="addEntry('.')">
        <input type="button" class="key key-equals" value="=" @click="calculate">
      </div>

      <div class="right">
        <input type="button" class="key" value="←" @click="clearEntry" @dblclick="clear">
        <input type="button" class="key" value="÷" @click="addEntry('÷')">
        <input type="button" class="key" value="×" @click="addEntry('×')">
        <input type="button" class="key" value="-" @click="addEntry('-')">
        <input type="button" class="key" value="+" @click="addEntry('+')">
      </div>
    </div>
  </div>
  <script src="build/app.js"></script>
</body>
</html>
